body{
    background: #070707;
}
.stopwatch{
    width:350px;
    height:350px;
    border-radius:50%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stopwatch h1{
font-family: 'Zen Dots';
position: absolute;
margin: auto;
align-items: center;
padding: 10px 100px;
 margin: 20px 10px;
 font-size: 45px;
 font-weight: 100;
 color: antiquewhite;
 align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-bottom:-32rem; 
    align-items: center;
    justify-content: center;
    
}
.buttons img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}
.buttons img:nth-child(2){
    width: 80px;
}
img:hover{
    background-color: rgb(15, 236, 114);
    border-radius: 50%;
}
.outer{
    margin:auto;
    margin-top: 5rem;;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: whitesmoke;
    background: linear-gradient(169deg, rgb(25, 231, 18), rgb(0, 110, 255));
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text{
    font-family: 'Zen Dots';
    font-size: 45px;
    position: relative;
    color: whitesmoke;
    right: -31rem;
    align-items: center;
    
}

  